@CHARSET "UTF-8";

#formContainer{
	margin-top: 40px;
}

#formContainer > div{
	padding: 20px 20px 0 20px;
	border-radius: 10px;
	border: 1px solid #101010;
	background: #101010;
}

#formContainer label{
	color: #9d9d9d;
}
.button-container{
	text-align: center;
}

#img-header{
	width: 100%;
}

.thmb-home{
	height: 405px;
	margin: 5px;
}

.img-home{
	height: 262px;
}

.footer{
	position: relative;
	bottom: 0px;
	width: 100%;
	height: 60px;
  text-align: center;
  margin-top: 10px;
  background-color: #222;
  border-radius: 4px;
}
