@CHARSET "UTF-8";


#formContainer{
	margin-top: 40px;
}

#formContainer > div{
	padding: 20px 20px 0 20px;
	border-radius: 10px;
	border: 1px solid #101010;
	background: #101010;
}

#formContainer label{
	color: #9d9d9d;
}

.carousel-inner{
	background-color: #101010;
}



.carousel-caption {
    top: 0;
    bottom: auto;
		color:white;
		text-align: right;

}
.carousel-inner > .item > img {
    margin: 50px 50px 50px 80px;
		max-width: 250px;
}


.button-container{
	text-align: center;
}

#img-header{
	width: 100%;
}

.thmb-home{
	height: 405px;
	margin: 5px;
}

.img-home{
	height: 262px;
}

#footer {
		margin-top: 20px;
    width: 100%;
    height: 60px;
}


.img-home{
	height: 262px;
}

.bookWrapper{
	position:relative;
	margin: 10px;
	min-width: 17%;
	display: inline-block;
	cursor: pointer;
}

.bookWrapper img, .bookCaption{
	width: 100%;
	position: absolute;
}

.bookWrapper,
.bookWrapper img, .bookCaption{
	min-height:282px;
}

.bookWrapper .bookCaption{
	background: #000000;
	opacity:0;
	transition:opacity 0.1s linear;
	max-height:100%;
	display: table;
	text-align:center;
}


.bookWrapper .bookCaption div{
	display:table-cell;
	vertical-align:middle;
	height: 100%;
}

.bookWrapper .bookCaption span{
	display: block;
	color: #cccccc;
	font-weight:bold;
	font-size: 20px;
}

.bookWrapper .bookCaption span:first-child{
	color: #FFA500;
}

.bookWrapper .bookCaption span:last-child{
	color: #FFA500;
}

.bookWrapper .bookCaption:hover{
	opacity: 0.8;
}

#trending{
	maargin-top: 30px;
}
